@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

header {
  background-image: url(../../imges/begroundd.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

nav {
  background-image: url(../../imges/navigatsiyabgroung.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.inn {
  display: none;
}

.nav {
  padding: 19px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 76px;
}
.nav__list--item a {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  color: #FFFFFF;
}
.nav label {
  display: none;
}
.nav .nav__leni {
  display: block;
}
.nav .nav__leni .burger1 {
  display: block;
  width: 23px;
  height: 1px;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 7px;
}
.nav .nav__leni .burger2 {
  display: block;
  width: 23px;
  height: 1px;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 7px;
}
.nav .nav__leni .burger3 {
  display: block;
  width: 23px;
  height: 1px;
  border-radius: 2px;
  background-color: #fff;
}

.itt {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    overflow-x: hidden;
    background-image: url(../../imges/mabayl-begkround.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    top: -300px;
  }
  nav {
    background: transparent;
    position: relative;
    top: -30px;
  }
  .nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    position: relative;
    top: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(250%);
    transition: 2s ease;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 20px;
    gap: 24px;
    border-top: 25px solid #562000;
    border-left: 9px solid #562000;
    border-top-left-radius: 50px;
    height: 100vh;
    z-index: 111111111111111;
  }
  .nav__list--item a {
    position: relative;
    top: -250px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 100%;
    border: 2px solid #000000;
    max-width: 130px;
  }
  .nav__list--item a:hover {
    background-color: #EB9562;
    border: 2px solid #EB9562;
  }
  .nav__list .a {
    border: 2px solid #562000;
    border-radius: 8px;
    padding: 5px 25px;
  }
  .nav__list .a1 {
    border: 2px solid #562000;
    border-radius: 8px;
    padding: 5px 35px 5px 30px;
  }
  .nav__list .a2 {
    border: 2px solid #562000;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
  }
  .nav__list .a3 {
    border: 2px solid #562000;
    border-radius: 8px;
    padding: 5px 33px 5px 26px;
  }
  .nav__list__logo {
    padding: 0;
  }
  .nav label {
    display: block;
  }
  .nav .nav__leni {
    display: block;
  }
  .nav .nav__leni .burger1 {
    display: block;
    width: 23px;
    height: 1px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 7px;
  }
  .nav .nav__leni .burger2 {
    display: block;
    width: 23px;
    height: 1px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 7px;
  }
  .nav .nav__leni .burger3 {
    display: block;
    width: 23px;
    height: 1px;
    border-radius: 2px;
    background-color: #fff;
  }
  .itt {
    display: block;
    position: absolute;
    top: -20px;
    right: 20px;
    font-weight: 800;
  }
  .inn:checked ~ .nav .nav__list {
    transform: translateX(27%);
  }
}
.n1hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.hero__title {
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 109px;
  line-height: 127px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border: none;
}
.hero__text {
  max-width: 608px;
  padding-top: 34px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  padding-bottom: 62px;
}
.hero__btn {
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  padding: 38px 86px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-bottom: 135.6px;
}

.hero1__home {
  display: block;
}
.hero1__strelka {
  padding-left: 250px;
  padding-top: 20px;
}

.strel {
  display: none;
}

.form {
  transform: translatex(-120%);
  position: absolute;
  right: 200px;
  top: 100px;
  max-width: 1142px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 20px solid #562000;
  background-color: #fff;
  padding: 0 60px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-radius: 43.8464px;
}
.form__left--title {
  max-width: 454px;
  text-align: center;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}
.form__left--text {
  max-width: 390px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
.form__right {
  padding-top: 60px;
}
.form__right label {
  display: block;
  padding-bottom: 10px;
  outline: none;
}
.form__right--label {
  outline: none;
  display: block;
  padding: 14px 127.6px 14px 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.form__right--label1 {
  outline: none;
  display: block;
  padding: 14px 130px 14px 19px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.form__right--label2 {
  outline: none;
  display: block;
  padding: 14px 130px 14px 19px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.form__right--label3 {
  outline: none;
  display: block;
  padding: 14px 130px 14px 19px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.form__right--btn {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 19px 53px;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 3.98604px 3.98604px 3.98604px rgba(0, 0, 0, 0.25);
  border-radius: 30.8918px;
  border: none;
}

.open {
  display: none;
}

.open:checked ~ .hero1 .form {
  transform: translatex(2%);
}

@media screen and (max-width: 576px) {
  .n1hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .hero {
    position: absolute;
    bottom: 380px;
    left: 100px;
  }
  .hero__title {
    padding-top: 0px;
    font-size: 20px;
    line-height: 30px;
  }
  .hero__text {
    display: none;
  }
  .hero__btn {
    position: absolute;
    bottom: -60px;
    left: 30px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    padding: 18px 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-bottom: 11px;
  }
  .hero1 {
    display: none;
  }
  .hero1__home {
    display: block;
  }
  .hero1__strelka {
    padding-left: 250px;
    padding-top: 20px;
  }
  .strel {
    display: none;
  }
}
.hero-site__list--item {
  background-image: url(../../imges/devan.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 183px;
  padding-bottom: 32px;
  padding-left: 149px;
  padding-right: 300px;
}
.hero-site__list--item1 {
  background-image: url(../../imges/hona.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 183px 449px 0 31px;
}/*# sourceMappingURL=main.css.map */