@import '../../mixin';
header {
    @include BG (url(../../imges/begroundd.png), no-repeat, 100%, center);
}

nav {
    @include BG (url(../../imges/navigatsiyabgroung.png), no-repeat, 100%, center);
}

input {
    display: none;
}

.nav {
    padding: 19px 0;
    @include flexfunksiya (row, center, space-between, wrap);
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 76px;
        &--item a {
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 34px;
            color: #FFFFFF;
        }
    }
    label {
        display: none;
    }
    .nav__leni {
        display: block;
        .burger1 {
            display: block;
            width: 23px;
            height: 1px;
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 7px;
        }
        .burger2 {
            display: block;
            width: 23px;
            height: 1px;
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 7px;
        }
        .burger3 {
            display: block;
            width: 23px;
            height: 1px;
            border-radius: 2px;
            background-color: #fff;
        }
    }
}

@media screen and (max-width:576px) {
    header {
        @include BG (url(../../imges/mabayl-begkround.png), no-repeat, 100%, center);
        position: relative;
        top: -250px;
    }
    nav {
        background: transparent;
        position: relative;
        top: -50px;
    }
    .nav {
        padding: 0;
        @include flexfunksiya (row, center, space-between, wrap);
        &__list {
            position: relative;
            top: 330px;
            @include flexfunksiya (column, center, center, wrap);
            transform: translateX(250%);
            transition: 6s ease;
            background: rgba(255, 255, 255, 0.9);
            padding: 30px 20px;
            gap: 24px;
            border: 10px solid #562000;
            border-top: 20px solid #562000;
            border-left: 9px solid #562000;
            border-top-left-radius: 50px;
            height: 100vh;
            &--item a {
                position: relative;
                top: -250px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                width: 100%;
                border: 2px solid #000000;
                max-width: 130px;
                &:hover {
                    background-color: #EB9562;
                    border: #EB9562;
                }
            }
            .a {
                border: 2px solid #562000;
                border-radius: 8px;
                padding: 5px 25px;
            }
            .a1 {
                border: 2px solid #562000;
                border-radius: 8px;
                padding: 5px 35px 5px 30px;
            }
            .a2 {
                border: 2px solid #562000;
                border-radius: 8px;
                padding: 5px 5px 5px 5px;
            }
            .a3 {
                border: 2px solid #562000;
                border-radius: 8px;
                padding: 5px 33px 5px 26px;
            }
            &__logo {
                padding: 0;
            }
        }
        label {
            display: block;
        }
        .nav__leni {
            display: block;
            .burger1 {
                display: block;
                width: 23px;
                height: 1px;
                border-radius: 2px;
                background-color: #fff;
                margin-bottom: 7px;
            }
            .burger2 {
                display: block;
                width: 23px;
                height: 1px;
                border-radius: 2px;
                background-color: #fff;
                margin-bottom: 7px;
            }
            .burger3 {
                display: block;
                width: 23px;
                height: 1px;
                border-radius: 2px;
                background-color: #fff;
            }
        }
    }
    input:checked~.nav .nav__list {
        transform: translateX(60%);
    }
}