@import '../../mixin.scss';
.hero-site {
    &__list {
        position: absolute;
        left: 0px;
        &--item {
            @include BG (url(../../imges/devan.png), no-repeat, 100%, center);
            padding-top: 183px;
            padding-bottom: 32px;
            padding-left: 149px;
            padding-right: 305px;
        }
        &--item1 {
            @include BG (url(../../imges/hona.png), no-repeat, 100%, center);
            padding-top: 180px;
            padding-bottom: 29px;
            padding-left: 140px;
            padding-right: 305px;
        }
    }
    &__list1 {
        position: absolute;
        right: 0px;
        &--item2 {
            @include BG (url(../../imges/stolstul.png), no-repeat, 100%, center);
            padding-top: 180px;
            padding-bottom: 32px;
            padding-left: 0px;
            padding-right: 454px;
        }
        &--item3 {
            @include BG (url(../../imges/televzr.png), no-repeat, 100%, center);
            padding-top: 180px;
            padding-bottom: 32px;
            padding-left: 0px;
            padding-right: 454px;
        }
    }
}